.gridContainer{
  display: grid;
  margin: 100px 200px;
  min-height: 100vh;
  grid-template-rows: 300px 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "itemA itemB itemC itemD"
  "item item item item"
  "item item item item"
  "item item item item"
}

.gridItemA{
  grid-area: itemA;
  background: #faa;
}


.l_wrapper_06 {
  width: 100%;
}

.l_wrapper_06:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transition: all .5s;
}
.card_06 {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.card_img_06 {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card_content_06 {
  padding: 8px 20px 20px;
}
.card_title_06 {
  font-size: 1.6em;
  color: #333;
  font-weight: 700;
}
.card_text_06 {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0.2em;
}

.card_content_06 p {
  margin-bottom:0;
}