.gridContainer{
  display: grid;
  /* margin: 50px 200px; */
  margin: 50px 15%;
  padding-bottom: 30px;
  /* min-height: 100vh; */
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr ;
  background-color: #fff;
}

.gridItem{
  /* margin: 20px;
  max-height: 300px; */
  margin: 7% 13%;
}


.l_wrapper_06 {
  width: 100%;
  margin-top: 15px;
}

.l_wrapper_06:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transition: all .5s;
  cursor: pointer;
}
.card_06 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px #ccc;
  /* margin-top: 25px;
  margin-bottom: 25px; */
}

.card_img_06 {
  border-radius: 2px 2px 0 0;
  width: 100%;
  height: 150px;
}
.card_content_06 {
  padding: 0 10px 10px;
  height: 180px;
}
.card_title_06 {
  font-family: 'ヒラギノ明朝 ProN W3';
  font-size: 1em;
  color: #333;
  font-weight: 700;
  overflow: hidden;
}
.card_text_06 {
  font-family: 'Comic Sans MS';
  color: #777;
  font-size: 0.8em;
  line-height: 1.5;
  margin-bottom: 0.2em;
  max-height: 78px;
  overflow: hidden;
}

.card_content_06 p {
  margin-bottom:0;
}
.category {
	position: relative;
	display: inline-block;
	margin: 5px 0 5px 15px;
	padding: .3em .3em .3em 0.6em;
	line-height: 1;
	color: #fff;
	text-decoration: none;
	background-color: #546A7B;
  font-family: 'Comic Sans MS';
}
.category:before {
	position: absolute;
	top: 0;
	left: -1em;
	content: '';
	border-width:0.8em 1em 0.8em 0;
	border-style: solid;
	border-color: transparent #546A7B transparent transparent;
}

.Episodes{
  text-align: center;
  font-family: 'Comic Sans MS';
  font-size: 3em;
  margin-top: 50px;
}
/* タブレットサイズ横長 */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .gridContainer{
    display: grid;
    margin: 50px 100px;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
  }

  .gridItem{
    margin: 10px 10%;
  }
  .card_img_06 {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 180px;
  }
  .card_content_06 {
    padding: 8px 20px 20px;
    height: 180px;
  }
  .Episodes{
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 2em;
    padding-top: 200px;
  }
}
/* タブレットサイズ縦長 */
@media all and (min-width: 480px) and (max-width: 768px) {
  .gridContainer{
    display: grid;
    margin: 50px 20px;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
  }

  .gridItem{
    margin: 10px 10%;
  }
  .card_img_06 {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 180px;
  }
  .card_content_06 {
    padding: 8px 20px 20px;
    height: 200px;
  }
  .Episodes{
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 2em;
    padding-top: 200px;
  }
}

/* スマホサイズ */
@media(max-width: 480px) {
  .gridContainer{
    display: grid;
    margin: 50px 20px;
    min-height: 100vh;
    /* grid-template-rows: 1fr; */
    grid-template-columns: 1fr;
  }

  .gridItem{
    margin: 7% 14%;
    
  }
  .card_img_06 {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 180px;
  }
  .card_content_06 {
    padding: 8px 20px 20px;
    height: 180px;
  }
  .Episodes{
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 2em;
    padding-top: 20px;
  }
}